<div>
	<a href='#/'>Home</a>
	<a href='#/index'>Logout</a>
	<h3>New Question</h3>
	<form name="questionform">
		Question: <input type='text' name="question" ng-model='newQuestion.question' ng-minlength='10' required><span ng-show="questionform.question.$touched && questionform.question.$invalid">The question must be at least 10 characters long.</span><br><br>
		Description (optional): <input type='text' name="description" ng-model='newQuestion.description'><br><br>
		<input type='submit' value='Submit' ng-click='addQuestion()'>
		<button><a href='#/'>Cancel</a></button>
	</form>
</div>