<div>
	<a href="#/new_question">Add a Question</a><br>
	<a href="#/index">Logout</a><br><br>
	Search: <input type="text" ng-model="search">
	<h3>Hi {{username}}!</h3><br>
	<div>
	  	<table>
			<tr>
				<th>Question</th>
				<th>Answers</th>
				<th>Action</th>
			</tr>
			<tr ng-repeat='question in questions | filter: search'>
				<td>{{ question.question }} </td>
				<td>{{ question.answers.length }}</td>
				<td><a href='#/question/{{question._id}}'>Show</a> <a href='#/question/{{question._id}}/new_answer'>Answer</a></td>
			</tr>
		</table>
	</div>
</div>