<div ng-controller="PlayersController">
	<h3>Players Controller</h3>
	<form name="playerform">
		<input type='text' name="name" ng-model='newPlayer.name' ng-minlength='4' required>
		<input type='submit' value='Add Player' ng-click='addPlayer()'>
	</form>
	<div ng-messages="playerform.name.$error" ng-show='playerform.name.$touched'>
		<p ng-message='minlength'>The player name must be at least 4 characters</p>
		<p ng-message='required'>The player name is required</p> 
	</div>
  	<table>
		<tr>
			<th>Name</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat='player in players'>
			<td>{{ player.name }}</td>
			<td><button ng-click='removePlayer(player)'>Remove Player</button></td>
		</tr>
	</table>
</div>